<main>
    <section id="about" class="container py-5">
        <h1 class="text-center mb-4">About Me</h1>
        <div class="row">
            <div class="col-md-6">
                <p>My name and education</p>
                <p>What I like to do programming wise</p>
                <p>Other interests etc</p>
            </div>
            <div class="col-md-6">
                <%= image_tag("profilePlaceHold.jpg", alt: "Your Photo", class: "img-fluid rounded-rect") %>
            </div>
        </div>
    </section>
</main>
